.about-us-img {
  width: 744px;
  height: 366px;
  background: white;
  padding: 3px;
}
.art-of-music-section {
  padding: 10px 20px;
}
.about-section {
  background: #f0f0f0;
}
.teacher-img {
  width: 300px;
  border: 1px solid #8080804d;
  background: white;
  padding: 2px;
}
